
			
			<div class="row">
			   <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3 id="totalCount"></h3>
              <p>Total Users</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="#" class="small-box-footer" onclick="getAdminResponse(0)">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="faCount"></h3>
              <p>Facility Admins</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="#" class="small-box-footer" onclick="getAdminResponse(4)">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
          <!--<div class="col-lg-3 col-xs-6">
         
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3 id="dmCount"></h3>
              <p>Division Managers</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="#" class="small-box-footer" onclick="getAdminResponse(5)">
              No info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>-->
        <div class="col-lg-4 col-xs-6">
         
          <div class="small-box bg-green">
            <div class="inner">
              <h3 id="pmCount"></h3>
              <p>Project Managers</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="#" class="small-box-footer" onclick="getAdminResponse(3)">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
        </div>
                  <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box allusertable" style ="display:block">
                               
                                <div class="box-body">
                                    <table id="allusers" class="table table-bordered table-striped">
                                        <thead>
                                        <tr class="table-active">
                                        	<th class = "datatable-header">S. No.</th>
                                            <th class = "datatable-header">First Name</th>
                                            <th class = "datatable-header">Last Name</th>
                                            <th class = "datatable-header">Email</th>
                                            <th class = "datatable-header">User Group</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                               
                            </div>
                            
                        </div>
                        
                    </div>
                 
                </section>
			
