<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Workspace Management System | My Requests/Approvals</title>
	
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  	<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">
	
	<link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/css/datepicker3.css}">
	
	<link rel="stylesheet" th:href="@{/css/blue.css}">
	
	<link rel="stylesheet" th:href="@{/css/morris.css}">
	
	<link rel="stylesheet" th:href="@{/css/bootstrap3-wysihtml5.min.css}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
	
</head>
<style>
.js-legend ul {
  list-style: none;
}

.js-legend ul li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.js-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

</style>
<body class="hold-transition skin-blue sidebar-mini">
 <div class="se-pre-con"></div>
<div class="wrapper">
<input type="hidden"  name="gid" id="gid" th:value="${auth.gid}">
	<header class="main-header">
		
		<a th:href="@{/home}" class="logo">
			
			<span class="logo-mini"><b>W</b>MS</span>
			
			<span class="logo-lg" th:utext="${auth.role.role}"> </span>

		</a>
		
	  <nav class="navbar navbar-static-top">
          

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                
                  
                    <li class=" user user-menu">
                     <img th:src="@{/images/avatar5.png}" class="user-image" alt="User Image">
                       
                        <ul class="dropdown-menu">
                          
                            <li class="user-header">
                                <img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">

                                <p>
                                    <span class="hidden-xs" th:utext="${auth.name}"></span>
                                    <small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
                                </p>
                            </li>
                           
                            <li class="user-footer">
                               
                            </li>
                        </ul>
                    </li>
                    <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gear"></i></a>
          </li>
                </ul>
            </div>
        </nav>
	</header>
	
	<aside class="main-sidebar" th:insert="/navigator.html"></aside>

 
  <div class="content-wrapper">
   
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Booking Requests</h3>
            </div>
           
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Request_ID</th>
						<th>Division</th>
						<th>Project Name</th>
						<th>No. of Resources</th>
						 <th>Workspace Type</th>
						<th>Start Time</th>
						<th>End Time</th>
						<th>Status</th>
						
					</tr>
				</thead>
				
				
				
				</table>
            </div>
            
          </div>
       
        </div>
     
      </div>
     
    </section>
   
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <a th:href="@{/home}">Workspace Management System</a>
    </div>
    Copyright &copy; 2019 <strong>Four Corners Technologies</strong> All rights
    reserved.
  </footer>
  <div th:insert="/logout.html"></div>
  </div>


  
  
<!-- jQuery 2.2.3 -->
<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/js/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/app.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- Slimscroll -->
<script th:src="@{/js/jquery.slimscroll.min.js}"></script>


<!-- Morris.js charts -->
<script th:src="@{/js/raphael-min.js}"></script>
<script th:src="@{/js/morris.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/js/Chart.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/js/jquery.sparkline.min.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/js/jquery.knob.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script th:src="@{/js/bootstrap3-wysihtml5.all.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>

<script th:inline="javascript">



$(function() {
	  $("#example1").DataTable({"order": [ 0, 'desc' ]});
	  
	  $(document).ready(function(){
			loadData();
			var authemail = [[${auth.email}]];
			//console.log(authemail);
			$('#authemail').html(authemail);
		});

	  // Premade test data, you can also use your own
	  //var testDataUrl = "https://raw.githubusercontent.com/chennighan/RapidlyPrototypeJavaScript/master/lesson4/data.json"
	  var gid = $('#gid').val();
	  var allocationReqURL = "/allocation/details?gid="+gid;

	  function loadData() {
	    $.ajax({
	      type: 'GET',
	      url: allocationReqURL,
	      contentType: "application/json",
	      dataType: 'json',
	      success: function (data) {
	        myJsonData = data;
	        console.log("myJsonData: " + myJsonData);
	        populateDataTable(myJsonData);
	        
	      },
	      error: function (e) {
	        console.log("There was an error with your request...");
	        console.log("error: " + JSON.stringify(e));
	      }
	    });
	  }

	  // populate the data table with JSON data
	  function populateDataTable(data) {
	    console.log("populating data table...");
	    // clear the table before populating it with more data
	    $("#example").DataTable().clear();
	    var length = Object.keys(data).length;
	    for(var i = 0; i < length; i++) {
	      var allocationReq = data[i];

	      // You could also use an ajax property on the data table initialization
	      
	       if (allocationReq.status == 'Pending'){
	    	   $('#example1').dataTable().fnAddData( [
	 	    	  allocationReq.request_id,
	 	    	  allocationReq.department_id,
	 	    	  allocationReq.project_id ,
	 	    	  allocationReq.no_of_resource,
	 	    	  allocationReq.typeofdesk,
	 	    	 allocationReq.start_time,
	 	    	  allocationReq.end_time,
	 	    	"<span class='label label-info'>Pending</span>"
	 
	            
	 	      ]);
	    	   
	       }
	       else if (allocationReq.status == 'Rejected'){
	    	   $('#example1').dataTable().fnAddData( [
		 	    	  allocationReq.request_id,
		 	    	  allocationReq.department_id,
		 	    	  allocationReq.project_id ,
		 	    	  allocationReq.no_of_resource,
		 	    	  allocationReq.typeofdesk,
		 	    	 allocationReq.start_time,
		 	    	  allocationReq.end_time,
		 	    	"<span class='label label-danger'>Rejected</span>"
		 
		            
		 	      ]);
		    	   
		       }
	       else if (allocationReq.status == 'Assigned'){
	    	   $('#example1').dataTable().fnAddData( [
		 	    	  allocationReq.request_id,
		 	    	  allocationReq.department_id,
		 	    	  allocationReq.project_id ,
		 	    	  allocationReq.no_of_resource,
		 	    	  allocationReq.typeofdesk,
		 	    	 allocationReq.start_time,
		 	    	  allocationReq.end_time,
		 	    	"<span class='label label-primary'>Assigned</span>"
		 
		            
		 	      ]);
		    	   
		       }
	       else if (allocationReq.status == 'Allocated'){
	    	   $('#example1').dataTable().fnAddData( [
		 	    	  allocationReq.request_id,
		 	    	  allocationReq.department_id,
		 	    	  allocationReq.project_id ,
		 	    	  allocationReq.no_of_resource,
		 	    	  allocationReq.typeofdesk,
		 	    	 allocationReq.start_time,
		 	    	  allocationReq.end_time,
		 	    	"<span class='label label-success assignID' id = '"+allocationReq.request_id+"' style = 'cursor:pointer'>Allocated</span>"
		 	    	
		            
		 	      ]);
		    	   
		       }
	       else if (allocationReq.status == 'Accepted'){
	    	   $('#example1').dataTable().fnAddData( [
		 	    	  allocationReq.request_id,
		 	    	  allocationReq.department_id,
		 	    	  allocationReq.project_id ,
		 	    	  allocationReq.no_of_resource,
		 	    	  allocationReq.typeofdesk,
		 	    	 allocationReq.start_time,
		 	    	  allocationReq.end_time,
		 	    	"<span class='label label-success assignID' id = '"+allocationReq.request_id+"' style = 'cursor:pointer'>Allocated</span>"
		 	
		 	      ]);
		    	   
		       }
	      
	      
	       
	      
	    }
	    
		$('#example1').on('click', '.assignID', function() {
			var request_id = $(this).attr('id');
			//console.log(request_id);
		document.location.href = '/myprofile/pm-emp-assignment?requestid='+request_id;
			
		});
	    
	  }
	})

</script>
</body>
</html>