<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <title>Workspace Management System | FA Allocation Request</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-tagsinput.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/css/datepicker3.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/blue.css}">
    <link rel="stylesheet" th:href="@{/css/morris.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap3-wysihtml5.min.css}">
    <link th:href="@{/css/floor/floordetails.css}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
    <style>
      .tooltip ul {
      padding-left: 0;
      list-style:none;
      }
      #myTooltip {
      padding: 15px;
      position:absolute;
      display: none;
      pointer-events: none;
      }
      .label-vacant{
      background-color: #2eb82e !important;
      font-size: 100%;
      }
      .label-allocated{
      color:black;
      background-color: #FFFF33 !important;
      font-size: 100%;
      }
      .label-assigned{
      background-color: #3C8DBC !important;
      font-size: 100%;
      }
      .label-utilized{
      background-color: #dd4b39 !important;
      font-size: 100%;
      }
      .bg-yellow-class{
      background-color:#FFFF33;
      }
      .bg-green-class{
      background-color:#2eb82e;
      }
      .bg-blue-class{
      background-color:#3C8DBC;
      }
    </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="se-pre-con"></div>
    <div class="wrapper">
    <header class="main-header">
      <a th:href="@{/home}" class="logo">
        <span class="logo-mini"><b>W</b>MS</span>
        <!--  <span class="logo-lg" th:utext="${auth.role.role}"> </span> -->
        <span class="logo-lg" style = "font-size:13px;font-weight:700">Workspace Management Tool</span>
      </a>
      <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class=" user user-menu">
              <img th:src="@{/images/avatar5.png}" class="user-image" alt="User Image">
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">
                  <p>
                    <span class="hidden-xs" th:utext="${auth.name}"></span>
                    <small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
                  </p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a th:href="@{/myprofile/inf}" class="btn btn-primary btn-flat">Profile</a>
                  </div>
                  <div class="col-xs-offset-1 col-xs-4 text-center">
                    <a  th:href="@{/myprofile/change_password(id=${auth.id})}"><i class="fa fa-gears"></i> Change
                    Password</a>
                  </div>
                  <div class="pull-right">
                    <a th:href="@{/logout}" class="btn btn-danger btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gear"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar" th:insert="/navigator.html"></aside>
    <div class="content-wrapper">
      <section class="content-header">
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Allocation Request Details</h3>
              </div>
              <form role="form" id="requestapprovalform" autocomplete="off" method="post" action="/allocation/seatallocationRequest">
                <div class="box-body">
                  <input type="hidden"  name="approver_id" id="approver_id" value = "fadmin@fadmin.com" >
                  <div class = "row">
                    <div class="col-md-4">
                      <div class="form-group row ">
                        <label for="inputRequestID" class="col-sm-3 control-label">Request ID</label>
                        <div class = "col-sm-9">
                          <span id="requestid" name="requestid" class="border-0" ></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="inputEmailID" class="col-sm-3 control-label">Email ID</label>
                        <div class = "col-sm-9">
                          <span name="email" class="border-0" id="email_id">hemachandra.j@fourcorners.asia</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="inputDesk" class="col-sm-3 control-label">Workspace</label>
                        <div class = "col-sm-9">
                          <span name="typeofdesk" id = "typeofdesk" class="border-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="inputResource" class="col-sm-3 control-label">Seats</label>
                        <div class = "col-sm-9">
                          <span name="no_of_resource" id = "no_of_resource" class="border-0"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="inputStarttime" class="col-sm-3 control-label">Start Date</label>
                        <div class = "col-sm-9">
                          <!-- <input type="text" class="form-control" placeholder="Enter Start Time" name="start_time" autocomplete="off" required> -->
                          <span name="start_time" id="start_time" class="border-0"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="inputEndtime" class="col-sm-3 control-label">End Date</label>
                        <div class = "col-sm-9">
                          <span name="end_time" id="end_time" class="border-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row">
                    <div class="col-md-6 selectfloor" id = "selectfloor">
                      <div class="form-group row">
                        <label for="inputFloor" class="col-sm-3 control-label">Floor Name</label>
                        <div class = "col-sm-9">
                          <select
                            class="form-control"
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="floorid" id = "floorId" required>
                            <option selected="selected" value="" disabled>Select Floor</option>
                            <option value="F2">Floor 2</option>
                            <option value="F3P1">Floor 3 - P1</option>
                            <option value="F3P2">Floor 3 - P2</option>
                            <option value="F4">Floor 4</option>
                            <option value="F5">Floor 5</option>
                            <option value="F7">Floor 7</option>
                          </select>
                          <small id = "selectseat" style = "display:none">You are not allowed to Select Floor and seats</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="inputBulkUpload" class="col-sm-3 control-label">Upload File</label>
                        <div class = "row">
                          <div class = "col-sm-2">
                            <button type = "button" class = "btn btn-info" id = "uploadbulkfile"  >Bulk upload</button>
                          </div>
                          <div class = "col-sm-6">
                            <input type="file" class="form-control" placeholder="Upload Here" id = "file" name="file" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
                              style = "display:none;">
                            <small id = "upload" style = "display:none;">You are not allowed to Upload Bulk File</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row" id = "seatsfield2" style = "display:none">
                    <div class="col-md-12">
                      <div class="form-group row" >
                        <div class = "col-sm-12">
                          &nbsp;<label for="inputfloor2" class="control-label">F2</label>&nbsp;
                          <input type="text" value = ""  name = "seats2"  id="seatnotags2" data-id = "F2" class="form-control flooridname">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row" id = "seatsfield3p1" style = "display:none">
                    <div class="col-md-12">
                      <div class="form-group row" >
                        <div class = "col-sm-12">
                          &nbsp;<label for="inputfloor3p1" class="control-label">F3-P1</label>&nbsp;
                          <input type="text" value = ""  name = "seats3p1"  id="seatnotags3p1" data-id = "F3P1" class="form-control flooridname">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row" id = "seatsfield3p2" style = "display:none">
                    <div class="col-md-12">
                      <div class="form-group row" >
                        <div class = "col-sm-12">
                          &nbsp;<label for="inputfloor3p2" class="control-label">F3-P2</label>&nbsp;
                          <input type="text" value = ""  name = "seats3p2"  id="seatnotags3p2" data-id = "F3P2" class="form-control flooridname">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row" id = "seatsfield4" style = "display:none">
                    <div class="col-md-12">
                      <div class="form-group row" >
                        <div class = "col-sm-12">
                          &nbsp;<label for="inputfloor4" class="control-label">F4</label>&nbsp;
                          <input type="text" value = ""  name = "seats4"  id="seatnotags4" data-id = "F4" class="form-control flooridname">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row" id = "seatsfield5" style = "display:none">
                    <div class="col-md-12">
                      <div class="form-group row" >
                        <div class = "col-sm-12">
                          &nbsp;<label for="inputfloor5" class="control-label">F5</label>&nbsp;
                          <input type="text" value = ""  name = "seats2"  id="seatnotags5" data-id = "F5" class="form-control flooridname">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row" id = "seatsfield7" style = "display:none">
                    <div class="col-md-12">
                      <div class="form-group row" >
                        <div class = "col-sm-12">
                          &nbsp;<label for="inputfloor7" class="control-label">F7</label>&nbsp;
                          <input type="text" value = ""  name = "seats2"  id="seatnotags7" data-id = "F7" class="form-control flooridname">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class = "row">
                    <div class="col-md-12">
                      <div id="message"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group " id = "floor2" style = "display:none;overflow:scroll;height:700px;">
                      <img src="/images/floor2.png" usemap="#image-map2" class="map" >
                      <map name="image-map2" id="floorMapID2">
                      </map>
                    </div>
                    <div class="form-group " id = "floor4" style = "display:none;overflow:scroll;height:700px;">
                      <img src="/images/floor4.jpg" usemap="#image-map4" class="map" >
                      <map name="image-map4" id="floorMapID4">
                      </map>
                    </div>
                    <div class="form-group " id = "floor5" style = "display:none;overflow:scroll;height:700px;">
                      <img src="/images/floor5.jpg" usemap="#image-map5" class="map" >
                      <map name="image-map5" id="floorMapID5">
                      </map>
                    </div>
                    <div class="form-group " id = "floor7" style = "display:none;overflow:scroll;height:700px;">
                      <img src="/images/floor7.jpg" usemap="#image-map7" class="map" >
                      <map name="image-map7" id="floorMapID7">
                      </map>
                    </div>
                  </div>
                  <div class="row" id="zoomoption" style ="display:none;">
                    <div class="col-md-12">
                      <div class="buttons" style="float:left">
                        <button type="button" class="btn btn-vacant">Vacant <span class="badge" id="totalVacant"></span></button>
                        <button type="button" class="btn btn-allocated">Allocated <span class="badge" id="totalAllocated"></span></button>
                        <button type="button" class="btn btn-assigned">Assigned <span class="badge" id="totalAssigned"></span></button>
                        <button type="button" class="btn btn-utilized">Utilized <span class="badge" id="totalUtilized"></span></button>
                      </div>
                      <div class="buttons" style="float:right">
                        <button type="button" class ="zoom-in btn btn-default" id="zoom-in">
                        <span class="fa fa-search-plus"></span>
                        </button>
                        <button type="button" class ="zoom-out btn btn-default" id="zoom-out">
                        <span class="fa fa-search-minus"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" id="svgDiv"  style ="display:none;overflow:auto;height:500px;">
                        <object id="svgObject" type="image/svg+xml"></object>
                      </div>
                    </div>
                  </div>
                  <div id="myTooltip">
                    <div class="box box-widget widget-user">
                      <div class="widget-user-header bg-green-class" id="tooltipStatus">
                        <h3 class="widget-user-username">Seat Details</h3>
                        <h5 class="widget-user-desc" id="statusMsg"></h5>
                      </div>
                      <div class="widget-user-image">
                        <img src="/images/chair.png" class="img-circle"
                          alt="User Image">
                      </div>
                      <div class="box-footer">
                        <div class="row">
                          <div class="col-sm-6 border-right">
                            <span class="description-text">Seat No.</span>
                          </div>
                          <div class="description-block col-sm-6" style = "margin: 0px !important;">
                            <h1 class="description-header" id="wid"></h1>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 border-right">
                            <span class="description-text">Project Name</span>
                          </div>
                          <div class="description-block col-md-6" style = "margin: 0px !important;">
                            <h1 class="description-header" id="pid">Not Mapped</h1>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 border-right">
                            <span class="description-text">Employee ID</span>
                          </div>
                          <div class="description-block col-md-6" style = "margin: 0px !important;">
                            <h1 class="description-header" id="eid">Not Mapped</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.box -->
                  </div>
                  <div class = "col-md-12">
                    <div class="form-group pmrequest-submitcancel" style = "display:none">
                      <button type="submit" class="btn btn-success requestapproval-submit">Approve</button>
                      <button type="button" class="btn btn-danger requestapproval-cancel">Reset</button>
                    </div>
                  </div>
                </div>
                <input type="hidden" id="uploadFileName" value=""/>
                <input type="hidden" id="uploadType" value=""/>
                <input type="hidden" id="project_id" />
                 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
              </form>
            </div>
          </div>
          <div id="myTooltip" />
          </div>
      </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a th:href="@{/home}">Workspace Management System</a>
        </div>
        Copyright &copy; 2019 <strong>Four Corners Technologies</strong> All rights
        reserved.
      </footer>
      <div th:insert="/logout.html"></div>
    </div>
    <!-- ./wrapper -->
    <!-- Snap Js for SVG -->
    <script th:src="@{/js/svg/snap.svg-min.js}"></script>
    <script th:src="@{/js/svg/svg-pan-zoom.min.js}"></script>
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-tagsinput.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/js/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/js/demo.js}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <!-- Slimscroll -->
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/ios-orientationchange-fix.min.js}"></script>
    <!-- <script th:src="@{/js/imageMapResizer.min.js}"></script>-->
    <script th:src="@{/js/jquery.rwdImageMaps.min.js}"></script>
    <script th:src="@{/js/jquery.maphilight.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script th:inline="javascript">
      $(document).ready(function(){
       resetValues();
       var authemail = [[${auth.email}]];
      
      $('#authemail').html(authemail);
      });
      
      var s;
      var panZoom;
      pageURL = window.location;
      var requestidURL = new URL(pageURL);
      var requestid = requestidURL.searchParams.get("requestid");
      $(window).load(function(){
      
      
      var requestDetails = projectnamewms+'/allocation/pmreqresdetails?request_id=' + requestid;
      
      $.ajax({
      type: 'GET',
      url: requestDetails,
      contentType: "application/json",
      dataType: 'json',
      success: function (data) {
      	
        
         $.each(data, function (index, e) {
      	 
      	  $('#requestid').text(e.request_id);
      	   $('#typeofdesk').text(e.typeofdesk);
      	   $('#no_of_resource').text(e.no_of_resource);
      	   $('#start_time').text(e.start_time);
      	$('#email_id').text(e.pm_id);
      	   $('#end_time').text(e.end_time);
      	   $('#project_id').val(e.project_id);
         });
        
      },
      
      
      
      error: function (e) {
        console.log("There was an error with your request...");
        
      }
      });
      });
      // get element
      var seatnos2 = $('#seatnotags2');
      var seatnos3p1 = $('#seatnotags3p1');
      var seatnos3p2 = $('#seatnotags3p2');
      var seatnos4 = $('#seatnotags4');
      var seatnos5 = $('#seatnotags5');
      var seatnos7 = $('#seatnotags7');
      var floors = [];
      //initialise the tag
      seatnos2.tagsinput({});
      seatnos3p1.tagsinput({});
      seatnos3p2.tagsinput({});
      seatnos4.tagsinput({});
      seatnos5.tagsinput({});
      seatnos7.tagsinput({});
      function loadSVG() {
        
        s = Snap("#svgObject");
        removeSupportTag();
        panZoom = svgPanZoom('#svgObject', {
        	zoomEnabled: true,
        	controlIconsEnabled: false,
           	fit: true,
           	minZoom: 0.4
        });
        var floorname = $('#floorId').val();
       
      var projectName = $('#projectOption').val();
        loadSeatInfo(floorname,projectName);
         // Zoom out
        panZoom.zoom(1.0);
       
      };
      
      $( "#svgObject").load(function() {
      loadSVG();
      });
      
      function loadSeatInfo(floorname,projectName) {
      var projectName = 'All';
        $.ajax({
          type: 'GET',
          url: projectnamewms+"/floormap/workstation?floorID=" + floorname + "&projectID=" + projectName,
        		
          contentType: "application/json",
          dataType: 'json',
          success: function (data) {
        	  setSVGSeatColor(data);
        	  setFloorSummary(data);
          },
          error: function (e) {
            console.log("There was an error with your request...");
          //  console.log("error: " + JSON.stringify(e));
          }
        });
      }
      
      function setSVGSeatColor(data){
       var keys = $.map( data.floorMapInfo, function( value, key ) {
        if(value.floorid=='F5' || value.floorid=='F7' ){
      	  key = 'A'+key;
      
        }
        
        try{
      	  
      	  if(s.select('#'+key)!=null){
      	  	s.select('#'+key).attr({fill: '#'+value.statusColor});
      	  	s.select('#'+key).attr("onmousemove","top.showDetails(evt,'"+value.status+"','"+value.workstation_no+"','"+value.projectId+"','"+value.employeeId+"')");
      	  	s.select('#'+key).attr("onmouseout","top.hideToolTip(this)");
      	  	if (value.status=='0'){
      	  		s.select('#'+key).attr("onclick","top.selectSeat('"+value.workstation_no+"')");
      	  	}
      	  }}catch(e){//console.log('error'+ e);
      	  }
       });
      }
      function setFloorSummary(data){
       var floorSummary = data.summaryStatus;
       $('#totalVacant').text(floorSummary.totalVacant);
       $('#totalAllocated').text(floorSummary.totalAllocated);
       $('#totalAssigned').text(floorSummary.totalAssigned);
       $('#totalUtilized').text(floorSummary.totalUtilized);
      }
      
      
      function resetValues(){
       $('#totalVacant').text('');
       $('#totalAllocated').text('');
       $('#totalAssigned').text('');
       $('#totalUtilized').text('');
      }
      
      
      //  document.getElementById("selectfloor").addEventListener('change', function(e){
      $('.selectfloor').on('change',function(e){
        	e.preventDefault();
        	var floorname = $('#floorId').val();
        	
        	var imageName = "../images/svg/"+floorname+".svg";
        	loadSeatInfo(floorname,'All');
        	$("#zoomoption").css('display','block');
       	$("#floorMapDiv").css('display','block');
      		$("#svgDiv").css('display','block');
      		$('#svgObject').attr("data",imageName);
      		$('.pmrequest-submitcancel').css('display','block');
      		
        });
      
      
      
      $('#uploadbulkfile').on('click',function(e){
        	e.preventDefault();
        	$('#floorId').attr('disabled','disabled');
        	$("#zoomoption").css('display','none');
       	$("#floorMapDiv").css('display','none');
      		$("#svgDiv").css('display','none');
        	$('#selectseat').css('display','block');
        	$('#file').css('display','block');
        	$('#floor1').css('display','none');
        	$('.pmrequest-submitcancel').css('display','block');
        });
        
        $('input[type=file]').on('change',function(){
      	var objFormData = new FormData();
        	var objFile = $(this)[0].files[0];
        	
        	$('#uploadType').val('Bulk');
        	$('#uploadFileName').val(objFile.name);
        	objFormData.append('file',objFile);
        	var ext = $('#file').val().split('.').pop().toLowerCase();
        	if(ext !== 'xls' && ext !== 'xlsx' && ext !== 'csv') {
        	    alert('Please upload excel file only.');
        	    $('#file').val('');
        	    return false;
        	}
        	
        	$.ajax({
        		url : projectnamewms+'/allocation/upload',
        		contentType: false,
              processData: false,  // Important!
              cache: false,
        		type: 'POST',
        		data : objFormData
        	}).done(function(response){ 
        		console.log(response.successMsg);
        	});
        	
        });
        var counter = 0;
        window.selectSeat = function (workstation_no) {
        	
          
          	  if (workstation_no.startsWith("A2")) {
      		var resource = $('#no_of_resource').text();
      		$('#seatsfield2').css('display','block');
      		if(counter < resource){
      		seatnos2.tagsinput('add', workstation_no);
      		//s.select('#'+workstation_no).attr("style","stroke: #800080;stroke-width: 3;stroke-dasharray: 10 5; ");
      		s.select('#'+workstation_no).attr("style","fill: orange;");
      		counter++;
      		}
      	}
          	 else if (workstation_no.startsWith("A3") || workstation_no.startsWith("B3") || workstation_no.startsWith("ATV") ) {
         		var resource = $('#no_of_resource').text();
         		
         		
         		
         		$('#seatsfield3p1').css('display','block');
         		if(counter < resource){
         			seatnos3p1.tagsinput('add', workstation_no);
         		//s.select('#'+workstation_no).attr("style","stroke: #800080;stroke-width: 3;stroke-dasharray: 10 5; ");
         		s.select('#'+workstation_no).attr("style","fill: orange;");
         		counter++;
         		}
         	}
              else if (workstation_no.startsWith("C3")) {
            		var resource = $('#no_of_resource').text();
            		
            		
            		
            		$('#seatsfield3p2').css('display','block');
            		if(counter < resource){
            			seatnos3p2.tagsinput('add', workstation_no);
            			s.select('#'+workstation_no).attr("style","fill: orange;");
            		//s.select('#'+workstation_no).attr("style","stroke: #800080;stroke-width: 3;stroke-dasharray: 10 5; ");
            		counter++;
            		}
            	}
      else if (workstation_no.startsWith("B4")) {
      var resource = $('#no_of_resource').text();
      
      
      
      $('#seatsfield4').css('display','block');
      if(counter < resource){
      seatnos4.tagsinput('add', workstation_no);
      s.select('#'+workstation_no).attr("style","fill: orange;");
      //s.select('#'+workstation_no).attr("style","stroke: #800080;stroke-width: 3;stroke-dasharray: 10 5; ");
      counter++;
      }
      }
      else if (workstation_no.startsWith("5")) {
      var resource = $('#no_of_resource').text();
      
      
      
      $('#seatsfield5').css('display','block');
      if(counter < resource){
      seatnos5.tagsinput('add', workstation_no);
      s.select('#'+workstation_no).attr("style","fill: orange;");
      //s.select('#'+workstation_no).attr("style","stroke: #800080;stroke-width: 3;stroke-dasharray: 10 5; ");
      counter++;
      }
      }
      else if (workstation_no.startsWith("7")) {
      var resource = $('#no_of_resource').text();
      
      
      
      $('#seatsfield7').css('display','block');
      if(counter < resource){
      seatnos7.tagsinput('add', workstation_no);
      s.select('#'+workstation_no).attr("style","fill: orange;");
      //s.select('#'+workstation_no).attr("style","stroke: #800080;stroke-width: 3;stroke-dasharray: 10 5; ");
      counter++;
      }
      }
          	  
          	$('#file').css('display','block');
          	$('#file').attr('disabled','disabled');
          	$('#uploadbulkfile').attr('disabled','disabled');
          	$('#upload').css('display','block');
          	}
        
        window.showDetails = function (evt,status,workstation_no,projectId,employeeId) {
            //function showDetails(status,workstation_no,projectId,employeeId) {
          	  var tooltip = document.getElementById('myTooltip');
          	  //$("#logoutModal").modal();i
          	  tooltip.style.display = 'block';
          	  tooltip.style.right = '30%';
          	  tooltip.style.top =  '20%';
          	  $("#wid").text(workstation_no);
          	  $("#statusMsg").text("Vacant");
          	 $('#tooltipStatus').addClass('bg-green-class');
      		 $('#tooltipStatus').removeClass('bg-blue-class');
      		 $('#tooltipStatus').removeClass('bg-yellow-class')
          	  if(status=='1'){
          		  $("#pid").text(projectId);
          		  $("#statusMsg").text("Allocated");
          		  $('#tooltipStatus').removeClass('bg-green-class');
          		 $('#tooltipStatus').removeClass('bg-blue-class');
          		 $('#tooltipStatus').addClass('bg-yellow-class');
          	  }else if(status=='2'){
          		  $("#pid").text(projectId);
          		  $("#eid").text(employeeId);
          		  $("#statusMsg").text("Assigned");
          		 $('#tooltipStatus').removeClass('bg-green-class');
          		 $('#tooltipStatus').addClass('bg-blue-class');
          		 $('#tooltipStatus').removeClass('bg-yellow-class')
          	  }
          	  
          	}
      
      function hideToolTip(el) {
       var tooltip = document.getElementById('myTooltip');
       tooltip.style.display = 'none';
       $("#wid").html('');
       $("#pid").html('Not Mapped');
       $("#eid").html('Not Mapped');
       $("#statusMsg").text('');
      }
      
      
      
      
        $('#requestapprovalform').on('submit', function(event) {
        	  event.preventDefault();
        	  
        		var allocationObj = new Object();
        		allocationObj.requestid = $('#requestid').text();
        		allocationObj.pm_email_id = $('#email_id').text();
        		allocationObj.project_id = $('#project_id').val();
        		allocationObj.approver_id = $('#approver_id').val();
        		allocationObj.uploadType =  $('#uploadType').val();
        		allocationObj.file_path =  $('#uploadFileName').val();
        		allocationObj.star_time = $('#start_time').text();
        		allocationObj.end_time = $('#end_time').text();
        		var floorMap;
        		
        		if(allocationObj.uploadType!='Bulk'){
        			floorMap = new Array();
        			var floorname = $('#floorId').val();
        			
        			if (floorname == 'F2'){
        				floorMap[0]=floorDetails('seatnotags2');
        			}
        			else if(floorname == 'F3P1')
      	      		{
            				floorMap[0]=floorDetails('seatnotags3p1');
      	      		}else if(floorname == 'F3P2')
         		{
        				floorMap[0]=floorDetails('seatnotags3p2');
         		}
        			else if(floorname == 'F4')
         		{
        				floorMap[0]=floorDetails('seatnotags4');
         		}
        			else if(floorname == 'F5')
         		{
        				floorMap[0]=floorDetails('seatnotags5');
         		}
        			else if(floorname == 'F7')
         		{
        				floorMap[0]=floorDetails('seatnotags7');
         		}
         		allocationObj.floorMap = floorMap;
        		}
        	  	
         	
        	  	var post_url = $(this).attr("action"); //get form action url
        		$.ajax({
        	  		url : projectnamewms+post_url,
        	  		type: 'POST',
        	  		contentType: "application/json",
        		    dataType: 'json',
        	  		data : JSON.stringify(allocationObj)
        	  	}).done(function(response){ 
        	  		
        	  document.location.href = projectnamewms+'/myprofile/allocationapprovals';
        	  		
        	  	});
        	});
        
         function floorDetails(seatContainer){
      	   var floorDetails = new Object();
       		floorDetails.floorid = $('#'+seatContainer).data('id');
       		var seats = new Array();
       		floorDetails.seats =  $('#'+seatContainer).val().split(',');
       		return floorDetails;
         }
      
      document.getElementById('zoom-in').addEventListener('click', function(ev){
            ev.preventDefault()
            panZoom.zoomIn()
         });
      
          document.getElementById('zoom-out').addEventListener('click', function(ev){
            ev.preventDefault()
            panZoom.zoomOut()
          });
      
          /*document.getElementById('reset').addEventListener('click', function(ev){
            ev.preventDefault()
            panZoom.resetZoom()
          });*/
          
          function removeSupportTag(){
        	  $( "svg[height~='undefined']" ).remove();
          }
    </script>
  </body>
</html>