<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Workspace Management System | Utilization Status</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link th:href="@{/css/bootselect.css}" rel="stylesheet">
    <link th:href="@{/css/floor/floordetails.css}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
    <style>
      .tooltip ul {
      padding-left: 0;
      list-style:none;
      }
      #myTooltip {
      padding: 15px;
      position:absolute;
      display: none;
      pointer-events: none;
      }
      .label-vacant{
      background-color: #2eb82e !important;
      font-size: 100%;
      }
      .label-allocated{
      color:black;
      background-color: #FFFF33 !important;
      font-size: 100%;
      }
      .label-assigned{
      background-color: #3C8DBC !important;
      font-size: 100%;
      }
      .label-utilized{
      background-color: #dd4b39 !important;
      font-size: 100%;
      }
    </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="se-pre-con"></div>
    <div class="wrapper">
    <header class="main-header">
      <a th:href="@{/home}" class="logo">
        <span class="logo-mini"><b>W</b>MS</span>
        <!--  <span class="logo-lg" th:utext="${auth.role.role}"> </span> -->
        <span class="logo-lg" style = "font-size:13px;font-weight:700">Workspace Management Tool</span>
      </a>
      <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class=" user user-menu">
              <img th:src="@{/images/avatar5.png}" class="user-image" alt="User Image">
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">
                  <p>
                    <span class="hidden-xs" th:utext="${auth.name}"></span>
                    <small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
                  </p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a th:href="@{/myprofile/inf}" class="btn btn-primary btn-flat">Profile</a>
                  </div>
                  <div class="col-xs-offset-1 col-xs-4 text-center">
                    <a  th:href="@{/myprofile/change_password(id=${auth.id})}"><i class="fa fa-gears"></i> Change
                    Password</a>
                  </div>
                  <div class="pull-right">
                    <a th:href="@{/logout}" class="btn btn-danger btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gear"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar" th:insert="/navigator.html"></aside>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Deallocate Booking Request
        </h1>
      </section>
      <form role="form" id="deallocaterequestform" method="post" th:action="@{/allocation/updateDeallocationSeats}">
        <section class="content">
          <div class="row">
            <div class ="col-md-3">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Request Details</h3>
                </div>
                <div class="box-body">
                  <input type="hidden"  name="approver_id" id="approver_id" value = "fadmin@fadmin.com" >
                  <input type="hidden"  id="request_id" th:value = "${requestid}" >
                  <strong><i class="fa fa-bookmark margin-r-5"></i> Request ID</strong>
                  <p class="text-muted" id="requestid" name="requestid">
                  </p>
                  <hr>
                  <strong ><i class="fa  fa-envelope margin-r-5"></i> Email ID</strong>
                  <p class="text-muted" id="email_id" name = "email"></p>
                  <hr>
                  <img th:src = "@{/images/floor-img.png}" height = "16" width = "16"><strong > Floor</strong>
                  <p class="text-muted" id="floor_id" name = "floor_id"></p>
                  <hr>
                  <img th:src = "@{/images/resource.png}" height = "16" width = "16"><strong > No. of Seats</strong>
                  <p class="text-muted" id="no_of_resource" name = "no_of_resource"></p>
                  <hr>
                  <strong ><i class="glyphicon glyphicon-object-align-vertical margin-r-5"></i> Workspace Type</strong>
                  <p class="text-muted" name="typeofdesk" id = "typeofdesk">
                  </p>
                  <hr>
                  <strong ><i class="fa  fa-hourglass-half margin-r-5"></i> Start Date</strong>
                  <p class="text-muted" name="start_time" id="start_time"></p>
                  <hr>
                  <strong><i class="fa  fa-hourglass-half margin-r-5"></i> End Date</strong>
                  <p class="text-muted" name="end_time" id="end_time"></p>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row" id="zoomoption">
                <div class="col-md-12">
                  <div class="buttons" style="float:left">
                    <button type="button" class="btn btn-vacant">Vacant <span class="badge" id="totalVacant"></span></button>
                    <button type="button" class="btn btn-allocated">Allocated <span class="badge" id="totalAllocated"></span></button>
                    <button type="button" class="btn btn-assigned">Assigned <span class="badge" id="totalAssigned"></span></button>
                    <button type="button" class="btn btn-utilized">Utilized <span class="badge" id="totalUtilized"></span></button>
                  </div>
                  <div class="buttons" style="float:right">
                    <button type="button" class ="zoom-in btn btn-default" id="zoom-in">
                    <span class="fa fa-search-plus"></span>
                    </button>
                    <button type="button" class ="zoom-out btn btn-default" id="zoom-out">
                    <span class="fa fa-search-minus"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" id="svgDiv"  style ="overflow:auto;height:560px;">
                    <div class="box">
                      <object id="svgObject" type="image/svg+xml"></object>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group pmrequest-submitcancel">
                <button type="submit" class="btn btn-success deallocaterequest">Deallocate</button>
                <button type="button" class="btn btn-danger deallocate-cancel">Cancel</button>
              </div>
              <div id="myTooltip">
                <div class="box box-widget widget-user">
                  <div class="widget-user-header bg-aqua-active" id="tooltipStatus">
                    <h3 class="widget-user-username">Seat Details</h3>
                    <h5 class="widget-user-desc" id="statusMsg"></h5>
                  </div>
                  <div class="widget-user-image">
                    <img src="/images/chair.png" class="img-circle"
                      alt="User Image">
                  </div>
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-sm-6 border-right">
                        <span class="description-text">Seat No.</span>
                      </div>
                      <div class="description-block col-sm-6" style = "margin: 0px !important;">
                        <h1 class="description-header" id="wid"></h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <span class="description-text">Project Name</span>
                      </div>
                      <div class="description-block col-md-6" style = "margin: 0px !important;">
                        <h1 class="description-header" id="pid">Not Mapped</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <span class="description-text">Employee ID</span>
                      </div>
                      <div class="description-block col-md-6" style = "margin: 0px !important;">
                        <h1 class="description-header" id="eid">Not Mapped</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- /.box-body -->
                <input type="hidden" id="uploadFileName" value=""/>
                <input type="hidden" id="uploadType" value=""/>
                <input type="hidden" id="project_id" value=""/>
                <input type="hidden" id="wing" value="A"/>
                <input type="hidden" id="desktype" value=""/>
                <input type="hidden"  name="approver_id" id="approver_id" value = "fadmin@fadmin.com" >
              </div>
            </div>
            <div id="myTooltip" /></div>
        </section>
      </form>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a th:href="@{/home}">Workspace Management System</a>
        </div>
        Copyright &copy; 2019  <strong>Four Corners Technologies</strong> All rights
        reserved.
      </footer>
      <div th:insert="/logout.html"></div>
    </div>
    <!-- svg -->
    <script th:src="@{/js/svg/snap.svg-min.js}"></script>
    <script th:src="@{/js/svg/svg-pan-zoom.min.js}"></script>
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- DataTables -->
    <!-- SlimScroll -->
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/js/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/js/demo.js}"></script>
    <!-- page script -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/imageMapResizer.min.js}"></script>
    <script th:src="@{/js/jquery.maphilight.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:inline="javascript">
      $(document).ready(function(){
       resetValues();
       var authemail = [[${auth.email}]];
      $('#authemail').html(authemail);
      });
      //pageURL = window.location.href;
      //var requestidURL = new URL(pageURL);
      //var requestid = requestidURL.searchParams.get("requestid");
      
      /*
      $(window).load(function(){
      
       	var requestDetails = projectnamewms+'/allocation/pmreqresdetails?request_id=' + requestid;
       
       	$.ajax({
       	    type: 'GET',
       	    url: requestDetails,
       	    contentType: "application/json",
       	    dataType: 'json',
       	    success: function (data) {
       	    	
       	      
       	       $.each(data, function (index, e) {
       	    	
       	    	  $('#requestid').text(e.request_id);
       	   		   $('#typeofdesk').text(e.typeofdesk);
       	   		   $('#no_of_resource').text(e.no_of_resource);
       	   		   $('#start_time').text(e.start_time);
       	   		   $('#end_time').text(e.end_time);
       	   		   $('#email_id').text(e.pm_id);
       	   		   $('#project_id').val(e.project_id);
       	   		   projectName =  e.project_id;
       	   	
       	   		   if (e.floorid == 'F2'){
       	   			floorname = 'F2';
       	   		$('#floor_id').text('Floor 2');
       	   		   }
       	   		
           		 else if (e.floorid == 'F3P1'){
        	   			floorname = 'F3P1';
           	   		$('#floor_id').text('Floor 3 - P1');
           	   		   }
           		 else if (e.floorid == 'F3P2'){
        	   			floorname = 'F3P2';
           	   		$('#floor_id').text('Floor 3 - P2');
           	   		   }
       	   		 else if (e.floorid == 'F4'){
        	   			floorname = 'F4';
           	   		$('#floor_id').text('Floor 4');
           	   		   }
       	   		   else if (e.floorid == 'F5'){
       	   			floorname = 'F5';
          	   		$('#floor_id').text('Floor 5');
          	   		   }
       	   		   else if (e.floorid == 'F7'){
       	   			floorname = 'F7';
        	   		$('#floor_id').text('Floor 7');
        	   		   }
       	   		 var imageName = "../images/svg/"+floorname+".svg";
       	   	$('#svgObject').attr("data",imageName);
             });
       	   
       	    },
       	     error: function (e) {
       	      console.log("There was an error with your request...");
       	    }
       	  });
       	
       	
       });
      
      */
      
      var requestid = $('#request_id').val();
      $(window).load(function(){
          
    	  var _0x11b0=['/allocation/pmreqresdetails'];(function(_0x4dd56a,_0x11b091){var _0x3853c3=function(_0x87d511){while(--_0x87d511){_0x4dd56a['push'](_0x4dd56a['shift']());}};_0x3853c3(++_0x11b091);}(_0x11b0,0x1ab));var _0x3853=function(_0x4dd56a,_0x11b091){_0x4dd56a=_0x4dd56a-0x0;var _0x3853c3=_0x11b0[_0x4dd56a];return _0x3853c3;};var requestDetails=projectnamewms+_0x3853('0x0');
         	
      	  var token = $("meta[name='_csrf']").attr("content");
      	  var pars = new Object();
  	   	  pars.request_id = requestid;
  	   	  pars._csrf = token;
  	   	$.ajax({type:"POST",url:requestDetails,data:pars,headers:{"X-CSRF-Token":token},success:function(o){$.each(o,function(o,e){$("#requestid").text(e.request_id),$("#typeofdesk").text(e.typeofdesk),$("#no_of_resource").text(e.no_of_resource),$("#start_time").text(e.start_time),$("#end_time").text(e.end_time),$("#email_id").text(e.pm_id),$("#project_id").val(e.project_id),projectName=e.project_id,"F2"==e.floorid?(floorname="F2",$("#floor_id").text("Floor 2")):"F3P1"==e.floorid?(floorname="F3P1",$("#floor_id").text("Floor 3 - P1")):"F3P2"==e.floorid?(floorname="F3P2",$("#floor_id").text("Floor 3 - P2")):"F4"==e.floorid?(floorname="F4",$("#floor_id").text("Floor 4")):"F5"==e.floorid?(floorname="F5",$("#floor_id").text("Floor 5")):"F7"==e.floorid&&(floorname="F7",$("#floor_id").text("Floor 7"));var t="../images/svg/"+floorname+".svg";$("#svgObject").attr("data",t)})},error:function(o){console.log("There was an error with your request...")}});
         	
         	
         });
      
      
      
      var s;
      var panZoom;
      function loadSVG() {
        
        s = Snap("#svgObject");
        removeSupportTag();
        panZoom = svgPanZoom('#svgObject', {
        	zoomEnabled: true,
        	controlIconsEnabled: false,
           	fit: true,
           	minZoom: 0.4
        });
        var floor = $('#floor_id').text();
        if (floor == 'Floor 2'){
        	floorname = 'F2';
        }
        else if (floor == 'Floor 3 - P1'){
        	floorname = 'F3P1';
      }
      else if (floor == 'Floor 3 - P2'){
      floorname = 'F3P2';
      }
        else if (floor == 'Floor 4'){
        	floorname = 'F4';
      }
        else if (floor == 'Floor 5'){
        	floorname = 'F5';
      }
        else if (floor == 'Floor 7'){
        	floorname = 'F7';
      }
        
      var projectName = $('#project_id').val();
        loadSeatInfo(floorname,projectName);
        panZoom.zoom(1.0);
       };
      
      $( "#svgObject").load(function() {
      loadSVG();
      });
      /*
      function loadSeatInfo(floorname,projectName) {
       $.ajax({
          type: 'GET',
          url: projectnamewms+"/floormap/workstation?floorID=" + floorname + "&projectID=" + projectName,
        		
          contentType: "application/json",
          dataType: 'json',
          success: function (data) {
        	  setSVGSeatColor(data);
        	  setFloorSummary(data);
          },
          error: function (e) {
            console.log("There was an error with your request...");
            //console.log("error: " + JSON.stringify(e));
          }
        });
      }
      */
      
      function loadSeatInfo(floorname,projectName) {
    	  var _0x351b=['/floormap/workstation'];(function(_0x5bc354,_0x351ba5){var _0x955ceb=function(_0x5ae912){while(--_0x5ae912){_0x5bc354['push'](_0x5bc354['shift']());}};_0x955ceb(++_0x351ba5);}(_0x351b,0x1e5));var _0x955c=function(_0x5bc354,_0x351ba5){_0x5bc354=_0x5bc354-0x0;var _0x955ceb=_0x351b[_0x5bc354];return _0x955ceb;};var url=projectnamewms+_0x955c('0x0');
    	  var token = $("meta[name='_csrf']").attr("content");
    	  var pars = new Object();
	   	  pars.floorname = floorname;
	   	  pars.project_id = projectName;
		  pars._csrf = token;
		  //console.log(pars);
		  $.ajax({type:"POST",url:url,data:pars,headers:{"X-CSRF-Token":token},success:function(e){setSVGSeatColor(e),setFloorSummary(e)},error:function(e){console.log("There was an error with your request...")}});
         }
      
      function setSVGSeatColor(data){
       var keys = $.map( data.floorMapInfo, function( value, key ) {
        if(value.floorid=='F5' || value.floorid=='F7' ){
      	  key = 'A'+key;
        }
        try{
      	  //console.log('all key'+key);
      	  if(s.select('#'+key)!=null){
      	  	s.select('#'+key).attr({fill: '#'+value.statusColor});
      	  	s.select('#'+key).attr("onmousemove","top.showDetails(evt,'"+value.status+"','"+value.workstation_no+"','"+value.projectId+"','"+value.employeeId+"')");
      	  	s.select('#'+key).attr("onmouseout","top.hideToolTip(this)");
      	  }}catch(e){//console.log('error'+ e);
      	  }
       });
      }
      
      function setFloorSummary(data){
       var floorSummary = data.summaryStatus;
       $('#totalVacant').text(floorSummary.totalVacant);
       $('#totalAllocated').text(floorSummary.totalAllocated);
       $('#totalAssigned').text(floorSummary.totalAssigned);
       $('#totalUtilized').text(floorSummary.totalUtilized);
      }
      
      
      function resetValues(){
       $('#totalVacant').text('');
       $('#totalAllocated').text('');
       $('#totalAssigned').text('');
       $('#totalUtilized').text('');
      }
      
      
      window.showDetails = function (evt,status,workstation_no,projectId,employeeId) {
      //function showDetails(status,workstation_no,projectId,employeeId) {
       var tooltip = document.getElementById('myTooltip');
       //$("#logoutModal").modal();
       tooltip.style.display = 'block';
       /*tooltip.style.left = evt.pageX + 10 + 'px';
       tooltip.style.top = evt.pageY + 10 + 'px';*/
       tooltip.style.right = '30%';
       tooltip.style.top =  '0%';
       $("#wid").text(workstation_no);
       $("#statusMsg").text("Vacant");
       if(status=='1'){
        $("#pid").text(projectId);
        $("#statusMsg").text("Allocated");
       }else if(status=='2'){
        $("#pid").text(projectId);
        $("#eid").text(employeeId);
        $("#statusMsg").text("Assigned");
       }
       
      }
      
      function hideToolTip(el) {
       var tooltip = document.getElementById('myTooltip');
       tooltip.style.display = 'none';
       $("#wid").html('');
       $("#pid").html('Not Mapped');
       $("#eid").html('Not Mapped');
       $("#statusMsg").text('');
      }
      
      document.getElementById('zoom-in').addEventListener('click', function(ev){
            ev.preventDefault()
            panZoom.zoomIn()
         });
      
          document.getElementById('zoom-out').addEventListener('click', function(ev){
            ev.preventDefault()
            panZoom.zoomOut()
          });
      
         /* document.getElementById('reset').addEventListener('click', function(ev){
            ev.preventDefault()
            panZoom.resetZoom()
          });*/
          
          function removeSupportTag(){
        	  $( "svg[height~='undefined']" ).remove();
          }
          
          $('.deallocate-cancel').on('click',function(e){
        		e.preventDefault();
        		document.location.href = projectnamewms+'/myprofile/allocationapprovals';
        	});
        
         	$('#deallocaterequestform').on('submit', function(event) {
          	  event.preventDefault();
          	   request_id =  $('#requestid').text();
          		var post_url = $(this).attr("action"); //get form action url
          	
          	  	var form_data = $(this).serialize();
          	  $.ajax({url:projectnamewms+post_url+"?request_id="+request_id,type:"POST",data:form_data}).done(function(a){document.location.href=projectnamewms+"/myprofile/allocationapprovals"});
          	});
    </script>
  </body>
</html>