<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workspace Management System | HOME</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/blue.css}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="se-pre-con"></div>
    <div class="wrapper">
      <header class="main-header">
        <a th:href="@{/home}" class="logo">
          <span class="logo-mini"><b>W</b>MS</span>
          <!--  <span class="logo-lg" th:utext="${auth.role.role}"> </span> -->
          <span class="logo-lg" style = "font-size:13px;font-weight:700">Workspace Management Tool</span>
        </a>
        <nav class="navbar navbar-static-top">
          <ul class="nav navbar-nav">
      		<li>
              <a href="" id = "hidden-role" style = "font-weight:600;display:none" th:utext="${auth.role.role}"></a>
            </li>
          </ul>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class=" user user-menu">
                <img th:src="@{/images/avatar5.png}" class="user-image" alt="User Image">
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">
                    <p>
                      <span class="hidden-xs" th:utext="${auth.name}"></span>
                      <small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
                      <input type="hidden"  name="gid" id="gid" th:value="${auth.gid}">
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a  th:href="@{/myprofile/change_password(id=${auth.id})}"><i class="fa fa-gears"></i> Change
                      Password</a>
                    </div>
                    <div class="pull-right">
                      <a th:href="@{/logout}" class="btn btn-danger btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gear"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar" th:insert="/navigator.html"></aside>
      <div class="content-wrapper">
        <section class="content-header">
        </section>
        <section class="content">
          <div th:if="${control == 'Super Admin'}" >
            <div th:insert="/admin_home.html"></div>
          </div>
          <div th:if="${control == 'Facility Admin'}" >
            <div th:insert="/fa_home.html"></div>
          </div>
          <div th:if="${control == 'Project Manager'}" >
            <div th:insert="/pm_home.html"></div>
          </div>
          <div th:if="${control == 'Divisional Manager'}" >
            <div th:insert="/dm_home.html"></div>
          </div>
      </div>
      </section>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <a th:href="@{/home}">Workspace Management System</a>
      </div>
      Copyright &copy; 2019 <strong>Four Corners Technologies</strong> All rights
      reserved.
    </footer>
    <div th:insert="/logout.html"></div>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/jszip.min.js}"></script>
    <script th:src="@{/js/pdfmake.min.js}"></script>
    <script th:src="@{/js/vfs_fonts.js}"></script>
    <script th:src="@{/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <!-- AdminLTE App -->
    <script th:src="@{/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/js/demo.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:inline="javascript">
      //console.log(projectnamewms);
     $('.navbar-static-top').on('mouseover',function(){
		$('#hidden-role').css('display','block');
	});
	
	$('.navbar-static-top').on('mouseout',function(){
		$('#hidden-role').css('display','none');
	});
      $(function () {
         // $('#allusers').DataTable();
          $("#allusers").DataTable({
      		  "processing": true,
      	         //"sAjaxSource":"response.php",
      	          "bAutoWidth": false, // Disable the auto width calculation 
      "aoColumns": [
      { "sWidth": "7%" } ,// 1st column width 
      { "sWidth": "21%" }, // 2nd column width 
      { "sWidth": "21%" } ,// 3rd column width and so on 
      { "sWidth": "30%" },
      { "sWidth": "21%" }
      ],
      	         "dom": 'lBfrtip',
      		  "buttons": [
      		              
      		                      'copy',
      		                      'excel',
      		                      'csv',
      		                      'pdf'
      		          ],
      		   "order": [ 0, 'desc' ]
      	  }
      			  );
          var authemail = [[${auth.email}]];
      	//console.log(authemail);
      	$('#authemail').html(authemail);
      });
      
      
      $(window).load(function(){
      	
      	if($('#allusers').length>0){
      		$('#allusers').DataTable();
      		getAdminResponse(0); //for initial load get all user data so set value to 0
      	}
      	if($('#fahome').length>0){
      		getFAResponse();
      	}
      	if($('#pmhome').length>0){
      		getPMResponse();
      	}
       });
       /*
      function getPMResponse(){
      	  var gid = [[${auth.gid}]];         
      	  var requestDetails = projectnamewms+'/PM/pmdashboard?gid='+gid; 
      	   	$.ajax({
      	  	    type: 'GET',
      	  	    url: requestDetails,
      	  	    contentType: "application/json",
      	  	    dataType: 'json',
      	  	    success: function (data) {
      	  	    	
      	  	    	$('#todayRequest').html(data.todayRequest);
      	  	    	$('#allRequest').html(data.allRequest);
      	  	    	$('#thisMonth').html(data.thisMonth);
      	  	    	$('#pending').html(data.pending);
      	  	    	$('#allocated').html(data.allocated);
      	  	    	$('#assigned').html(data.assigned);
      	  	    	$('#rejected').html(data.rejected);
      	  	    },
      	  	    
      	  	    error: function (e) {
      	  	      console.log("There was an error with your request...");
      	  	    //  console.log("error: " + JSON.stringify(e));
      	  	    }
      	  	  });
      }
      */
   
      function getPMResponse(){
      	    var gid = [[${auth.gid}]];         
      	    var requestDetails = projectnamewms+'/PM/pmdashboard';
	      	var token = $("meta[name='_csrf']").attr("content");
			var pars = new Object();
			pars.gid = gid;
			pars._csrf = token;
      	   	$.ajax({
      	  	    type: 'POST',
      	  	    url: requestDetails,
      	  	    //contentType: "application/json",
      	  	    //dataType: 'json',
	      	  	data: pars,
	      	    headers: {
	      	             'X-CSRF-Token': token 
	      	       	 },
      	  	    success: function (data) {
      	  	    	
      	  	    	$('#todayRequest').html(data.todayRequest);
      	  	    	$('#allRequest').html(data.allRequest);
      	  	    	$('#thisMonth').html(data.thisMonth);
      	  	    	$('#pending').html(data.pending);
      	  	    	$('#allocated').html(data.allocated);
      	  	    	$('#assigned').html(data.assigned);
      	  	    	$('#rejected').html(data.rejected);
      	  	    },
      	  	    
      	  	    error: function (e) {
      	  	      console.log("There was an error with your request...");
      	  	    //  console.log("error: " + JSON.stringify(e));
      	  	    }
      	  	  });
      }
     
    
      
      /*
      function getFAResponse(){
      	  var requestDetails = projectnamewms+'/FM/facilityadmincount';
      	   	$.ajax({
      	  	    type: 'GET',
      	  	    url: requestDetails,
      	  	    contentType: "application/json",
      	  	    dataType: 'json',
      	  	    success: function (data) {
      	  	    	
      	  	    	$('#todayRequest').html(data.todayRequest);
      	  	    	$('#allRequest').html(data.allRequest);
      	  	    	$('#thisMonth').html(data.thisMonth);
      	  	    	$('#pending').html(data.pending);
      	  	    	$('#allocated').html(data.allocated);
      	  	    	$('#assigned').html(data.assigned);
      	  	    	$('#rejected').html(data.rejected);
      	  	    },
      	  	    
      	  	    error: function (e) {
      	  	      console.log("There was an error with your request...");
      	  	      //console.log("error: " + JSON.stringify(e));
      	  	    }
      	  	  });
      }
      */
      function getFAResponse(){
      	  var requestDetails = projectnamewms+'/FM/facilityadmincount';
	      	var token = $("meta[name='_csrf']").attr("content");
			var pars = new Object();
			pars._csrf = token;
      	   	$.ajax({
      	  	    type: 'POST',
      	  	    url: requestDetails,
      	  	    contentType: "application/json",
      	  	    dataType: 'json',
	      	  	data: pars,
	      	    headers: {
	      	             'X-CSRF-Token': token 
	      	       	 },
      	  	    success: function (data) {
      	  	    	
      	  	    	$('#todayRequest').html(data.todayRequest);
      	  	    	$('#allRequest').html(data.allRequest);
      	  	    	$('#thisMonth').html(data.thisMonth);
      	  	    	$('#pending').html(data.pending);
      	  	    	$('#allocated').html(data.allocated);
      	  	    	$('#assigned').html(data.assigned);
      	  	    	$('#rejected').html(data.rejected);
      	  	    },
      	  	    
      	  	    error: function (e) {
      	  	      console.log("There was an error with your request...");
      	  	      //console.log("error: " + JSON.stringify(e));
      	  	    }
      	  	  });
      }
    
      
        /*
        function getAdminResponse(roleId){
      	  var requestDetails = projectnamewms+'/superadmin/rolesinfo?roleId='+roleId;
      	   	$.ajax({
      	  	    type: 'GET',
      	  	    url: requestDetails,
      	  	    contentType: "application/json",
      	  	    dataType: 'json',
      	  	    success: function (data) {
      	  	    	
      	  	    	$('#pmCount').html(data.pmCount);
      	  	    	$('#faCount').html(data.faCount);
      	  	    	$('#dmCount').html(data.dmCount);
      	  	    	$('#totalCount').html(data.totalCount);
      	  	    	populateDataTable(data.userDetailsResponse);
      	  	    },
      	  	    
      	  	    error: function (e) {
      	  	      console.log("There was an error with your request...");
      	  	     // console.log("error: " + JSON.stringify(e));
      	  	    }
      	  	  });
        }
        */
        function getAdminResponse(roleId){
        	  var requestDetails = projectnamewms+'/superadmin/rolesinfo';
        	  var token = $("meta[name='_csrf']").attr("content");
        		var pars = new Object();
        		pars.roleId = roleId;
        		pars._csrf = token;
        	   	$.ajax({
        	  	    type: 'POST',
        	  	    url: requestDetails,
        	  	    contentType: "application/json",
        	  	    dataType: 'json',
	        	  	data: pars,
	          	    headers: {
	          	             'X-CSRF-Token': token 
	          	       	 },
        	  	    success: function (data) {
        	  	    	
        	  	    	$('#pmCount').html(data.pmCount);
        	  	    	$('#faCount').html(data.faCount);
        	  	    	$('#dmCount').html(data.dmCount);
        	  	    	$('#totalCount').html(data.totalCount);
        	  	    	populateDataTable(data.userDetailsResponse);
        	  	    },
        	  	    
        	  	    error: function (e) {
        	  	      console.log("There was an error with your request...");
        	  	     // console.log("error: " + JSON.stringify(e));
        	  	    }
        	  	  });
          }
       
      function populateDataTable(data) {
          console.log("populating data table...");
          $("#allusers").DataTable().clear();
          var length = Object.keys(data).length;
         
          for(var i = 0; i < length; i++) {
            var userDetailsResponse = data[i];
            var sno = i + 1;
            var group = getGroup(userDetailsResponse.role_id);
           
          	   $('#allusers').dataTable().fnAddData( [
          		   sno,
          		   userDetailsResponse.firstname,
          		   userDetailsResponse.lastname,
          		   userDetailsResponse.email,
          		   group 
       	      ]);
          }
      }
      function getGroup(roleid){
      	var group;
      	if(roleid=='1'){
      		group = 'Super Admin';
      	}
      	if(roleid=='2'){
      		group = 'USER';	
      		}
      	if(roleid=='3'){
      		group = 'Project Manager';
      	}
      	if(roleid=='4'){
      		group = 'Facility Admin';
      	}
      	if(roleid=='5'){
      		group = 'Divisional Manager';
      	}
      	return group;
      }
    </script>
  </body>
</html>