<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
  <!--    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://trustedscripts.example.com; object-src https://trustedplugins.example.com; report-uri /cspreport-endpoint">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
    <title>Workstation Management System | Login</title>
    <link th:href="@{/css/login/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/login/style.css}" rel="stylesheet">
  </head>
  <body>
    <section id="wrapper" class="login-register login-sidebar"  style="background-image:url(./images/bg.jpg);">
      <div class="login-box card">
        <div class="card-body">
          <form class="form-horizontal form-material" id="loginform" autocomplete="off"  method="post" th:action="@{/login}">
            <a  class="text-center db"><img th:src="@{/images/sony.png}" alt="Home"  style="width: 200px;"/></a>
            <div class="form-group m-t-40">
              <div class="col-xs-12">
                <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" value="" required autocomplete="off" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" value="" autocomplete="off" required/>
              </div>
            </div>
            <div align="center" th:if="${param.error}">
              <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block  waves-effect waves-light" type="submit">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script th:src="@{/js/login/jquery.min.js}"></script>
    <script th:src="@{/css/login/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/css/login/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/login/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/login/waves.js}"></script>
    <script th:src="@{/js/login/sidebarmenu.js}"></script>
    <script th:src="@{/js/login/sticky-kit.min.js}"></script>
    <script th:src="@{/js/login/custom.min.js}"></script>
  </body>
</html>