           <aside class="control-sidebar control-sidebar-dark" >
   
    <div class="tab-content">
    
      <div class="tab-pane" id="control-sidebar-home-tab">
    
        <h3 class="control-sidebar-heading">Profile Settings</h3>


      </div>
     
    </div>
  </aside>
 
  <div class="control-sidebar-bg"></div>
 
  <!-- /.content-wrapper -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-primary">
       
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <h4> &nbsp;Are you sure you want to Logout&nbsp;? </h4>
        
      </div>
      <div class="actionsBtns" style ="text-align:center;">
        
        <a th:href="@{/logout}" class="btn btn-success" >
                <span>Logout</span>
                </a>
        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
      </div>
      <hr>
    </div>
  </div>
</div>
   <div class="modal fade" id="changepasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content changePassword" style ="display:block">
      <div class="modal-header bg-primary">
       
        <h4>Change Password</h4>
      </div>
      <div class="modal-body">
                <form method="post" id="changepasswordform" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="oldpassword">Old Password</label>
            <div class="col-md-9">           
              <!--<span id="EditSetName" class = "form-control"></span>-->
              
              <input type = "password" id="oldpassword" name = "oldpassword" class = "form-control" autocomplete = "off" required value = "">
            </div>
          </div>
      <div class="form-group row">
            <label class="col-md-3 col-form-label" for="newpassword">New Password</label>
            <div class="col-md-9">           
              <!--<span id="EditSetName" class = "form-control"></span>-->
              <input type = "password" id="newpassword" name = "newpassword" autocomplete = "off" required class = "form-control" value = "">
            </div>
          </div>
          
    
          
          
          </form>
        
      </div>
       <div class="modal-footer">
      <div class="actionsBtns" style ="float:right;">
        
     
                <button type="submit" class="btn btn-success updatepassword" th:id ="${auth.id}" >Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
      </div>
      </div>
     
    </div>
      <div class="modal-content changedPassword" style = "display:none;">
      <div class="modal-header bg-primary">
        
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <p><h2 style = "text-align : center; color :#52bb56; "><i class="mdi mdi-checkbox-marked-circle-outline"></i><br />Password Changed</h2></p>
        
      </div>
      <div class="modal-footer" >
       
        <button type="button" class="btn btn-danger canceluser" data-dismiss="modal" >Close</button> 
      </div>
    
    </div>
  </div>
</div>