<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="treeview">
      <a th:href="@{/home}">
      <i class="fa fa-home "></i> <span>Dashboard</span>
      <span class="pull-right-container"></span>
      </a>
    </li>
    <li class="treeview">
      <a th:href="@{/myprofile/pmformview}">
      <i class="fa  fa-pencil-square-o"></i> <span>Booking</span>
      <span class="pull-right-container"></span>
      </a>
    </li>
    <li class="treeview">
      <a th:href="@{/myprofile/allocationrequests}">
      <i class="fa fa-file-text"></i> <span>Booking Status</span>
      <span class="pull-right-container"></span>
      </a>
    </li>
    <li class="treeview">
      <a th:href="@{/myprofile/utilizationStatus}">
      <i class="fa fa-battery-three-quarters"></i> <span>Floor Status</span>
      <span class="pull-right-container"></span>
      </a>
    </li>
  </ul>
</section>