<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="treeview">
      <a th:href="@{/home}">
      <i class="fa fa-home"></i> <span>Dashboard</span>
      <span class="pull-right-container"></span>
      </a>
    </li>
    <!-- <li class="treeview">
      <a th:href="@{/myprofile/utilizationStatus}">
      <img th:src = "@{/images/floor-status.png}" style = "margin-left: -5px;" height = "22" width = "22"></i> <span>Floor Status</span>
      <span class="pull-right-container"></span>
      </a>
     
    </li>-->
    <li class="treeview">
      <a th:href="@{/myprofile/utilizationreport}">
      <i class="fa  fa-pencil-square-o"></i> <span>Report</span>
      <span class="pull-right-container"></span>
      </a>
    </li>
  </ul>
</section>