<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workspace Management System | Allocation Request Form</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link th:href="@{/css/bootselect.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/datepicker-min.css}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="se-pre-con"></div>
    <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <header class="main-header">
        <a th:href="@{/home}" class="logo">
        <span class="logo-mini"><b>W</b>MS</span>
        <!--  <span class="logo-lg" th:utext="${auth.role.role}"> </span> -->
         <span class="logo-lg" style = "font-size:13px;font-weight:700">Workspace Management Tool</span>
        </a>
        <nav class="navbar navbar-static-top">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class=" user user-menu">
                <img th:src="@{/images/avatar5.png}" class="user-image" alt="User Image">
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">
                    <p>
                      <span class="hidden-xs" th:utext="${auth.name}"></span>
                      <small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a th:href="@{/myprofile/inf}" class="btn btn-primary btn-flat">Profile</a>
                    </div>
                    <div class="col-xs-offset-1 col-xs-4 text-center">
                      <a  th:href="@{/myprofile/change_password(id=${auth.id})}"><i class="fa fa-gears"></i> Change
                      Password</a>
                    </div>
                    <div class="pull-right">
                      <a th:href="@{/logout}" class="btn btn-danger btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gear"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar" th:insert="/navigator.html"></aside>
      <div class="content-wrapper">
        <section class="content-header">
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Booking Request Form</h3>
                </div>
                <form role="form" id="pmrequestform" method="post" action="/allocation/pmrequest">
                  <div class="box-body">
                    <input type="hidden"  name="pm_id" id="pm_id" th:value="${auth.email}">
                    <input type="hidden"  name="gid" id="gid" th:value="${auth.gid}">
                    <div class = "col-md-6">
                      <div class="form-group row">
                        <label for="inputDivision" class="col-sm-3 control-label">Division</label>
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="department_id" required>
                            <option selected="selected" value="" disabled>Select Division</option>
                            <option value="SARD">SARD</option>
                            <option value="ISBL">ISBL</option>
                            <option value="Infosec">Infosec</option>
                            <option value="P&C">P&C</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class = "col-md-6">
                      <div class="form-group row">
                        <label for="inputProjectName" class="col-sm-3 control-label">Project Name</label>
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="project_id" id="projectid" required>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="inputDeskType" class="col-sm-3 control-label">Workspace Type</label>
                        <div class = "col-sm-9">
                          <select
                            class="form-control"
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="typeofdesk" required>
                            <option selected="selected" value="" disabled>Select Workspace Type</option>
                            <option value="Dedicated Workspace">Dedicated Workspace</option>
                            <option value="Shift Workspace">Shift-wise Workspace</option>
                            <option value="Shared Workspace">Shared Workspace</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="inputResource" class="col-sm-3 control-label">No. of Seats</label>
                        <div class = "col-sm-9">
                          <input type="text" class="form-control" placeholder="Enter No. of Seats" id = "noofresource" name="no_of_resource" autocomplete="off" required>
                        </div>
                      </div>
                    </div>
                    <div class = "col-md-6">
                      <div class="form-group row">
                        <label for="inputstart-end" class="col-sm-3 control-label" >Project Start Date</label>
                        <div class = "col-sm-9">
                          <div class="input-group date">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="starttimedatetimepicker" name = "start_time" autocomplete="off">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class = "col-md-6">
                      <div class="form-group row">
                        <label for="inputstart-end" class="col-sm-3 control-label">Project End Date</label>
                        <div class = "col-sm-9">
                          <div class="input-group date">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="endtimedatetimepicker" name = "end_time" autocomplete="off">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--   <div class = "col-md-12">
                      <div class="form-group row">
                      <div class="col-md-1"></div>
                        <label for="inputDivision" class="col-md-3 control-label">Select Division</label>
                        <div class="col-md-6">
                          <select
                            class="form-control"
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="department_id" required>
                            <option selected="selected" value="" disabled>Select Division</option>
                            <option value="SARD">SARD</option>
                            <option value="ISBL">ISBL</option>
                             <option value="Infosec">Infosec</option>
                            <option value="P&C-Admin">P&C-Admin</option>
                            
                          </select>
                        </div>
                      </div>
                      </div>-->
                    <div class = "col-md-12">
                      <div class="form-group pmrequest-submitcancel">
                        <button type="submit" class="btn btn-success pmrequest-submit">Create Request</button>
                        <button type="button" class="btn btn-danger pmrequest-cancel">Reset</button>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="alert alert-success alert-dismissible" id = "success_alert" style = "display:none">
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                    <h4 style = "text-align:center" id = "success-request"></h4>
                  </div>
                </form>
              </div>
              <!-- /.box -->
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a th:href="@{/home}">Workspace Management System</a>
        </div>
        Copyright &copy; 2019 <strong>Four Corner Technologies</strong> All rights
        reserved.
      </footer>
      <div th:insert="/logout.html"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <!-- date range picker -->
    <script th:src="@{/js/moment.min.js}"></script>
    <!-- <script th:src="@{/js/daterangepicker.min.js}"></script> 
      <script type="text/javascript"
       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
      </script>-->
    <script th:src="@{/js/datepicker-min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- DataTables -->
    <!-- SlimScroll -->
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/js/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/js/demo.js}"></script>
    <!-- page script -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/jquery.maphilight.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- <script th:src="@{/js/jquery.moment.min.js}"></script>
      <script th:src="@{/js/jquery.daterangepicker.js}"></script>-->
    <script th:inline="javascript">
      $(document).ready(function(){
      	$(".alert").hide();
      var pm = $('#gid').val();
        populateProjects(pm);
      var authemail = [[${auth.email}]];
      //console.log(authemail);
      $('#authemail').html(authemail);
      //called when key is pressed in textbox
      $("#noofresource").keypress(function (e) {
       //if the letter is not digit then display error and don't type anything
      
       if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          //display error message
         
                 return false;
      }
      });
      });
      $("#pmrequestform").submit(function(event){
      	event.preventDefault(); //prevent default action 
      
      	var post_url = $(this).attr("action"); //get form action url
      	var request_method = $(this).attr("method"); //get form GET/POST method
      	var form_data = $(this).serialize(); //Encode form elements for submission
      
      	$.ajax({
      		url : projectnamewms+post_url,
      		type: request_method,
      		data : form_data
      	}).done(function(response){ 
      		console.log(response.successMsg);
      		var requestid = '';
          	$('#success-request').text('New Request '+requestid+ ' successfuly generated!');
          	$('#success_alert').css('display', 'block');
            setTimeout(function () {
                $("#success_alert").css("display", "none");
            }, 10000);
            setTimeout(location.reload.bind(location), 1000);
      	});
      	
      	
      });
      
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        $('#starttimedatetimepicker').datepicker({
        	startDate:today,
         autoclose: true,
         format: 'yyyy-mm-dd'
       })
      $('#endtimedatetimepicker').datepicker({
      startDate:today,
         autoclose: true,
         format: 'yyyy-mm-dd'
      })
      function populateProjects(pm){
      $.ajax({
          type: 'GET', 
          url: projectnamewms+"/masterdata/pmprojectdetails?gid_manager="+pm,
          success: function(data){
              var projectName=$('#projectid'), option="";
              projectName.empty();
              for(var i=0; i<data.length; i++){
            	  if(data[i].project_name.length>0)
                  	option = option + "<option value='"+data[i].project_name + "'>"+data[i].project_name + "</option>";
              }
              projectName.append(option);
          },
          error:function(){
              alert("error");
          }
      });
      }
    </script>
  </body>
</html>