						<div class="row" id="pmhome">
						<div class="col-md-4 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-purple"></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Requests</span>
              <span class="info-box-number" id="allRequest"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-teal"></span>

            <div class="info-box-content">
              <span class="info-box-text">This Month's Requests</span>
              <span class="info-box-number" id="thisMonth"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-maroon"></span>

            <div class="info-box-content">
              <span class="info-box-text">Today's Requests</span>
              <span class="info-box-number" id="todayRequest"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
			</div>
			
             	<div class="row">	
             	<div class="col-md-6">
			 <div class="box box-info">
             <!-- <div class="box-header with-border">
              <h3 class="box-title">All Requests Count</h3>

              <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>-->
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    
                    <th>Request Status</th>
                    <th>Request Count</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    
                    <td>No. of Pending Request</td>
                    <td><span class="label label-success" id="pending"></span></td>
                   
                  </tr>
                  <tr>
                   <td>No. of Allocated Request</td>
                    <td><span class="label label-warning" id="allocated"></span></td>
                   
                  </tr>
                  <tr>
                  <td>No. of Assigned Request</td>
                    <td><span class="label label-info" id="assigned"></span></td>
                  
                  </tr>
                  <tr>
                   <td>No. of Rejected Request</td>
                    <td><span class="label label-danger" id="rejected"></span></td>
                  </tr>
                 
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            
            <!-- /.box-footer -->
          </div>
			
			</div>
			</div>
				
