<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workspace Management System | Utilization Status</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link th:href="@{/css/bootselect.css}" rel="stylesheet">
    <link th:href="@{/css/floor/floordetails.css}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}"/>
    <style>
      .tooltip ul {
      padding-left: 0;
      list-style:none;
      }
      #myTooltip {
      padding: 15px;
      position:absolute;
      display: none;
      pointer-events: none;
      }
      .bg-yellow-class{
      background-color:#FFFF33;
      }
      .bg-green-class{
      background-color:#2eb82e;
      }
      .bg-blue-class{
      background-color:#3C8DBC;
      }
    </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="se-pre-con"></div>
    <div class="wrapper">
      <header class="main-header">
        <a th:href="@{/home}" class="logo">
        <span class="logo-mini"><b>W</b>MS</span>
         <!--  <span class="logo-lg" th:utext="${auth.role.role}"> </span> -->
         <span class="logo-lg" style = "font-size:13px;font-weight:700">Workspace Management Tool</span>
        </a>
        <nav class="navbar navbar-static-top">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class=" user user-menu">
                <img th:src="@{/images/avatar5.png}" class="user-image" alt="User Image">
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">
                    <p>
                      <span class="hidden-xs" th:utext="${auth.name}"></span>
                      <small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a th:href="@{/myprofile/inf}" class="btn btn-primary btn-flat">Profile</a>
                    </div>
                    <div class="col-xs-offset-1 col-xs-4 text-center">
                      <a  th:href="@{/myprofile/change_password(id=${auth.id})}"><i class="fa fa-gears"></i> Change
                      Password</a>
                    </div>
                    <div class="pull-right">
                      <a th:href="@{/logout}" class="btn btn-danger btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gear"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar" th:insert="/navigator.html"></aside>
      <div class="content-wrapper">
        <section class="content-header">
        </section>
        <section class="content">
          <div>
            <section class="content">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Floor Status</h3>
                </div>
                <div class="box-body">
                  <div class = "row">
                    <div class="col-md-6 selectfloor">  
                      <div class="form-group row">
                        <label for="inputFloor" class="col-sm-3 control-label">Floor Name</label>
                        <div class = "col-sm-9">
                          <select
                            class="form-control" 
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="floorid" id = "floorId" required>
                            <option selected="selected" value="" disabled>Select Floor</option>
                            <option value="F2">2nd Floor</option>
                            <!--<option value="F2">3rd Floor</option>-->
                            <option value="F3P1">3rd Floor - P1</option>
                            <option value="F3P2">3rd Floor - P2</option>
                            <option value="F4">4th Floor</option>
                            <option value="F5">5th Floor</option>
                            <option value="F7">7th Floor</option>
                          </select>
                          <small id = "selectseat" style = "display:none">You are not allowed to Select Floor and seats</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 selectproject" style = "display:none">
                      <div class="form-group row">
                        <label for="inputProject" class="col-sm-3 control-label">Project Name</label>
                        <div class = "col-sm-9">
                          <select
                            class="form-control"
                            style="width: 100%;" tabindex="-1" aria-hidden="true" name="projectOption" id = "projectOption" required>
                            <!-- 
                              <option selected="selected" value="" disabled>Select Project Name</option> 	<option value="All">All</option>
                              	<option value="Forescout">Forescout</option>
                              	<option value="GSIRT-Infra">GSIRT-Infra</option>
                              	<option value="GSIRT-NOC">GSIRT-NOC</option>
                              	<option value="SOMC ePO">SOMC ePO</option>
                              	<option value="SME Splunk & NSRA">SME Splunk & NSRA</option>
                              	<option value="SIE E">SIE E</option>
                              	<option value="eGIS-PT">eGIS-PT</option>
                              	<option value="eGIS-VM">eGIS-VM</option>
                              	<option value="GISC">GISC</option>
                              	<option value="GISC -Vormetric/Proofpoint">GISC -Vormetric/Proofpoint</option>
                              	<option value="SPE ePO">SPE ePO</option>
                              	<option value="eGIS Factory Security">eGIS Factory Security</option>
                              	<option value="SOMC PT">SOMC PT</option>
                              	<option value="SIE Global">SIE Global</option>
                              	<option value="eGIS Vulnerability Management for Infrastructure and End Points">eGIS Vulnerability Management for Infrastructure and End Points</option>
                              	<option value="Sony Mobile PT automation & MRP">Sony Mobile PT automation & MRP</option>
                              	<option value="CODE">CODE</option>
                              	<option value="eGIS - Anti-Malware Management & Support">eGIS - Anti-Malware Management & Support</option>
                              	<option value="GISD- Phishing">GISD- Phishing</option>
                              	<option value="eGIS CAT">eGIS CAT</option>
                              	<option value="SPE VM">SPE VM</option>
                              	<option value="Vormetrics">Vormetrics</option>
                              	<option value="SPC">SPC</option>
                              	<option value="ISJ">ISJ</option>
                              	<option value="SISC">SISC</option>-->
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="zoomoption" style ="display:none;">
                <div class="col-md-12">
                  <div class="buttons" style="float:left">
                    <button type="button" class="btn btn-vacant">Vacant <span class="badge" id="totalVacant"></span></button>
                    <button type="button" class="btn btn-allocated">Allocated <span class="badge" id="totalAllocated"></span></button>
                    <button type="button" class="btn btn-assigned">Assigned <span class="badge" id="totalAssigned"></span></button>
                    <button type="button" class="btn btn-utilized">Utilized <span class="badge" id="totalUtilized"></span></button>
                  </div>
                  <div class="buttons" style="float:right">
                    <!-- <b>Zoom IN & OUT</b>&nbsp;-->
                    <button type="button" class ="zoom-in btn btn-default" id="zoom-in">
                    <span class="fa fa-search-plus"></span>
                    </button>
                    <!-- <button type="button" class ="zoom-out btn btn-default" id="reset">
                      <span class="glyphicon glyphicon-refresh"></span>
                      </button>-->
                    <button type="button" class ="zoom-out btn btn-default" id="zoom-out">
                    <span class="fa fa-search-minus"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" id="svgDiv"  style ="display:none;overflow:auto;height:500px;">
                    <div class="box">
                      <object id="svgObject" type="image/svg+xml"></object>
                    </div>
                  </div>
                </div>
              </div>
            <div id="myTooltip">
                <div class="box box-widget widget-user">
                  <div class="widget-user-header bg-green-class" id="tooltipStatus">
                    <h3 class="widget-user-username">Seat Details</h3>
                    <h5 class="widget-user-desc" id="statusMsg"></h5>
                  </div>
                  <div class="widget-user-image">
                    <img src="/images/chair.png" class="img-circle"
                      alt="User Image">
                  </div>
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-sm-6 border-right">
                        <span class="description-text">Seat No.</span>
                      </div>
                      <div class="description-block col-sm-6" style = "margin: 0px !important;">
                        <h1 class="description-header" id="wid"></h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <span class="description-text">Project Name</span>
                      </div>
                      <div class="description-block col-md-6" style = "margin: 0px !important;">
                        <h1 class="description-header" id="pid">Not Mapped</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <span class="description-text">Employee ID</span>
                      </div>
                      <div class="description-block col-md-6" style = "margin: 0px !important;">
                        <h1 class="description-header" id="eid">Not Mapped</h1>
                      </div>
                    </div>
                    <!--<div class="row">
                      <div class="col-sm-4 border-right">
                      	<div class="description-block">
                      		<h1 class="description-header" id="pid">Not Mapped</h1>
                      		<span class="description-text">Project ID</span>
                      	</div>
                      
                      </div>
                      
                      <div class="col-sm-4">
                      	<div class="description-block">
                      		<h1 class="description-header" id="eid">Not Mapped</h1>
                      		<span class="description-text">Employee Id</span>
                      	</div>
                      	
                      </div>
                      
                      </div>-->
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.box -->
              </div>
              <!-- /.row -->
            </section>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a th:href="@{/home}">Workspace Management System</a>
        </div>
        Copyright &copy; 2019 <strong>Four Corners Technologies</strong> All rights
        reserved.
      </footer>
      <div th:insert="/logout.html"></div>
    </div>
    <!-- ./wrapper -->
    <!-- Snap Js for SVG -->
    <script th:src="@{/js/svg/snap.svg-min.js}"></script>
    <script th:src="@{/js/svg/svg-pan-zoom.min.js}"></script>
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- DataTables -->
    <!-- SlimScroll -->
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/js/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/js/demo.js}"></script>
    <!-- page script -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/jquery.maphilight.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:inline="javascript" >
      console.log(projectnamewms);
      var s;
      var panZoom;
      
      
      var ua = window.navigator.userAgent;
      var isIE = /MSIE|Trident/.test(ua);
      debugger
      
      function loadSVG() {
             console.log('onload');
             s = Snap("#svgObject");
             removeSupportTag();
             if ( !isIE ) {
                 //IE specific code goes here
         	   	  panZoom = svgPanZoom('#svgObject', {
         	   	       	zoomEnabled: true,
         	   	       	controlIconsEnabled: false,
         	   	          	fit: true,
         	   	          	minZoom: 0.4
         	   	          	
         	   	       });
               }           
             var floorname = $('#floorId').val();
             console.log(floorname);
         	var projectName = $('#projectOption').val();
         	alert('projectName'+projectName);  
             loadSeatInfo(floorname,projectName);
              // Zoom out
              if ( !isIE ) {
             	panZoom.zoom(1.0);
              }
            
      	};
      	
      	$( "#svgObject").load(function() {
       	loadSVG();
      });
          function loadSeatInfo(floorname,projectName) {
             $.ajax({
               type: 'GET',
               url: projectnamewms+"/floormap/workstation?floorID=" + floorname + "&projectID=" + projectName,
               contentType: "application/json",
               dataType: 'json',
               success: function (data) {
            	
             	  setSVGSeatColor(data);
             	  setFloorSummary(data); 
               },
               error: function (e) {
                 console.log("There was an error with your request...");
                 console.log("error: " + JSON.stringify(e));
               }
             });
           }
           
           function setSVGSeatColor(data){
         	  var keys = $.map( data.floorMapInfo, function( value, key ) {
         		  if(value.floorid=='F5' || value.floorid=='F7' ){
         			  key = 'A'+key;
         		  }
         		 
         		  try{
         			  //console.log('all key'+key);
          		  if(s.select('#'+key)!=null){
          		  	s.select('#'+key).attr({fill: '#'+value.statusColor});
          		  	s.select('#'+key).attr("onmousemove","top.showDetails(evt,'"+value.status+"','"+value.workstation_no+"','"+value.projectId+"','"+value.employeeId+"')");
          		  	s.select('#'+key).attr("onmouseout","top.hideToolTip(this)");
          		    
          		  }}catch(e){
          			  console.log('error'+ e);
          		  }
         	  });
           }
           
           function setFloorSummary(data){
        	  //alert('FloorSummary');       
         	  var floorSummary = data.summaryStatus;
         	  $('#totalVacant').text(floorSummary.totalVacant);
         	  $('#totalAllocated').text(floorSummary.totalAllocated);
         	  $('#totalAssigned').text(floorSummary.totalAssigned);
         	  $('#totalUtilized').text(floorSummary.totalUtilized);
           }
           
           
           function resetValues(){
         	  $('#totalVacant').text('');
         	  $('#totalAllocated').text('');
         	  $('#totalAssigned').text('');
         	  $('#totalUtilized').text('');
           }
             
           $('.selectfloor').on('change',function(e){
             	
           	
             });
           
           $('.selectproject').on('change',function(e){
           
           });
           document.getElementById("floorId").addEventListener('change', function(e){
        	   e.preventDefault();
           	alert('Project Change alert');  
           	$('.selectproject').css('display','block');
           	//$("#projectOption").val("");
           	//$("#svgDiv").css('display','none');
           	//$("#zoomoption").css('display','none');
           	var floorname = $('#floorId').val();
           	//console.log(floorname);
           	$("#projectOption").val("All");
           	var imageName = "../images/svg/"+floorname+".svg";
          	$("#zoomoption").css('display','block');
          	$("#floorMapDiv").css('display','block');
         		$("#svgDiv").css('display','block');
         		$('#svgObject').attr("data",imageName);
         	 loadSeatInfo(floorname,'All');        
           });
           
           document.getElementById("projectOption").addEventListener('change', function(e){
        	 	e.preventDefault();
            	alert('Project Change alert');  
            	var floorname = $('#floorId').val();
            	var imageName = "../images/svg/"+floorname+".svg";
            	$("#zoomoption").css('display','block');
            	$("#floorMapDiv").css('display','block');
           		$("#svgDiv").css('display','block');
           		$('#svgObject').attr("data",imageName);
           		 resetValues();           		   
           });
           
           
           window.showDetails = function (evt,status,workstation_no,projectId,employeeId) {
               //function showDetails(status,workstation_no,projectId,employeeId) {
             	  var tooltip = document.getElementById('myTooltip');
             	  //$("#logoutModal").modal();i
             	  tooltip.style.display = 'block';
             	  tooltip.style.right = '30%';
             	  tooltip.style.top =  '20%';
             	  $("#wid").text(workstation_no);
             	  $("#statusMsg").text("Vacant");
             	 $('#tooltipStatus').addClass('bg-green-class');
         		 $('#tooltipStatus').removeClass('bg-blue-class');
         		 $('#tooltipStatus').removeClass('bg-yellow-class')
             	  if(status=='1'){
             		  $("#pid").text(projectId);
             		  $("#statusMsg").text("Allocated");
             		  $('#tooltipStatus').removeClass('bg-green-class');
             		 $('#tooltipStatus').removeClass('bg-blue-class');
             		 $('#tooltipStatus').addClass('bg-yellow-class');
             	  }else if(status=='2'){
             		  $("#pid").text(projectId);
             		  $("#eid").text(employeeId);
             		  $("#statusMsg").text("Assigned");
             		 $('#tooltipStatus').removeClass('bg-green-class');
             		 $('#tooltipStatus').addClass('bg-blue-class');
             		 $('#tooltipStatus').removeClass('bg-yellow-class')
             	  }
             	  //s.select('#'+workstation_no).animate({ transform: "r45" }, 1000 );
             	  //s.select('#'+workstation_no).animate({x:0}, 2000, mina.bounce );
             	  //s.select('#'+workstation_no).attr("style","stroke: #009900;stroke-width: 3;stroke-dasharray: 10 5;");
             	  //s.select('#'+workstation_no).attr({'style': 'stroke-dasharray:10.5'});
             	}
      
         	function hideToolTip(el) {
         	  var tooltip = document.getElementById('myTooltip');
         	  tooltip.style.display = 'none';
         	  $("#wid").html('');
         	  $("#pid").html('Not Mapped');
         	  $("#eid").html('Not Mapped');
         	  $("#statusMsg").text('');
         	}
         	
         	document.getElementById('zoom-in').addEventListener('click', function(ev){
                 ev.preventDefault()
                 if ( !isIE ) {
                 panZoom.zoomIn()
                 }
              });
      
               document.getElementById('zoom-out').addEventListener('click', function(ev){
                 ev.preventDefault()
                 if ( !isIE ) {
                 panZoom.zoomOut()
                 }
               });
      
             /*  document.getElementById('reset').addEventListener('click', function(ev){
                 ev.preventDefault()
                 panZoom.resetZoom()
               });*/
               
               function removeSupportTag(){
             	  $( "svg[height~='undefined']" ).remove();
               }
               $( document ).ready(function() {
             	  resetValues();
             	  populateProjects();
             	  var authemail = [[${auth.email}]];
       			//console.log(authemail);
       			$('#authemail').html(authemail);
             	});
               
               function populateProjects(){
                   $.ajax({
                       type: 'GET',
                       url: projectnamewms+"/masterdata/projectdetails",
                       success: function(data){
                           var projectName=$('#projectOption'), option="<option selected='selected' value='' disabled>Select Project Name</option>"+
                           " <option value='All'>All</option>";
                           projectName.empty();
                           for(var i=0; i<data.length; i++){
                         	 // if(data[i].project_name.length>0)
                               	option = option + "<option value='"+data[i].project_name + "'>"+data[i].project_name + "</option>";
                           }
                           projectName.append(option);
                       },
                       error:function(){
                           alert("error");
                       }
                   });
                 }
         
    </script>
  </body>
</html>